﻿   
        @{
                    if ( !Roles.IsUserInRole("docent")) 
        {
            Response.Redirect("~/Docentonly");
        }
            Layout ="~/_SiteLayout.cshtml"; 

            if (IsPost)
            { 


                using(var db = Database.Open("BeoordelingsFormulieren"))
                {
                    int ingevuldId = 0;
                    var temp = db.Query("select * from Field where formId=@0 order by ingevuldId desc",@Request.Form["formId"]).ToList();
                    
                    if(@temp.Count>0)
                    {
                        ingevuldId = temp[0].ingevuldId;

                        ingevuldId++;
                    }
                    else{
                        ingevuldId =1;
                    }

                    bool studentExist= false;

                    int tempStudentNr = 0;

                    int.TryParse(@Request.Form["studentNr"],out tempStudentNr);

                    var t = db.Query("select * from Student where studentNumber = @0",tempStudentNr).ToList();

                    if(t.Count>0)
                    {
                          studentExist=true;                    
                    }
                
                    if(!studentExist)
                    {
                        db.Query("insert into Student (studentName,studentNumber) values (@0,123456)",@Request.Form["studentNr"]);
                    }
                    else
                    {
                        <p>Student already exists</p>    
                    }
                    //db.Query("insert into EvaluationForm (formId,title,commentary,studentId,dateOf) values (@0,@1,@2,1,@3)",@Request.Form["formId"],@Request.Form["title"],"no comment",DateTime.Now);

                    foreach(string name in Request.Form)
                    {
                        if(name != "formId" && name !="ingevuldId")
                        {
                            db.Query(string.Format("insert into Field (fieldTitle,fieldInput,formId,ingevuldId, datum,owner) values ('{0}','{1}',{2},{3},'{4}',{5})",@name,@Request.Form[name],@Request.Form["formId"],@ingevuldId,DateTime.Now,WebSecurity.CurrentUserId));
                            <p>@name: @Request.Form[name]</p>
                        }

                    }

                }
                
                Response.Redirect("~/Default");

            }      
        }