﻿.@{
    if (!WebSecurity.IsAuthenticated) 
    {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Form Page";

    using(var db = Database.Open("BeoordelingsFormulieren")) 
    {

       var selectQueryString = "SELECT formId, location FROM LegeFormulieren";

        if(!Request["selectForm"].IsEmpty())
        {
          Response.Redirect("~/"+Request["selectForm"]);
          
        }
    }
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <form action="/" method="post">
            <div class="select_container">
                <div class="select_join" >
                    <select name="selectForm">
                        <option disabled>- Select Form -</option>
                        @using(var db = Database.Open("BeoordelingsFormulieren"))
                        {
                            var selectQueryString = "SELECT LegeFormulieren.formId, LegeFormulieren.location,EvaluationForm.title FROM LegeFormulieren left join EvaluationForm on LegeFormulieren.formId=EvaluationForm.formId";

                            foreach(var row in db.Query(selectQueryString)) 
                            {
                                <option value="@row.location">@row.title</option>
                            }
                        }
                    </select>
                </div>
                <div class="button_floatR">
                <input type="Submit" value="Select Form" name="buttonFillForm"/>
                    </div>
            </div>
                
        </form>

        @using(var db = Database.Open("BeoordelingsFormulieren"))
        {
            var selectCommand = "SELECT * FROM EvaluationForm";
            var searchTerm = "";

            var selectedData = db.Query(selectCommand, searchTerm);
            var grid = new WebGrid(source: selectedData, defaultSort: "dateOf");

            @grid.GetHtml(
            tableStyle: "grid",
            headerStyle: "head",
            alternatingRowStyle: "alt",
                columns: grid.Columns(
                grid.Column("title", "Type"),
                grid.Column("dateOf", "Date Made"),
                grid.Column(format: @<a href="~/Edit?formId=@item.formId">Edit Files</a>)
                )
            );
        }
    </div>
</section>

}
<ol class="round">
    
</ol>