﻿@{
        if ( !Roles.IsUserInRole("docent")) 
        {
            Response.Redirect("~/Docentonly");
        }
        Layout = "~/_SiteLayout.cshtml";
        Page.Title = "Edit Page";

}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <form method="get">
            <div>
                <input type="text" name="searchTitle"value="@Request.QueryString["searchTitle"]" />
                <input type="hidden" name="formId" value="@Request["formId"]"></input>
                <input type="Submit" value="Search Form"/>
            </div>
        </form>
        @using(var db = Database.Open("BeoordelingsFormulieren"))
        {
            var selectCommand = string.Format("SELECT * FROM Field where formId={0} and fieldTitle = 'title' and owner={1}",Request["formId"],WebSecurity.CurrentUserId);


            var location = db.Query("select * from LegeFormulieren where formId=@0",Request["formId"]).ToList();
            string temp = location[0].location;
            
            temp = temp.Remove(temp.IndexOf('.'));
            temp+="Ingevuld.cshtml";

            var searchTerm = "";
            if(!Request.QueryString["searchTitle"].IsEmpty())
            {
                selectCommand = "SELECT * FROM Field WHERE fieldTitle='title' and fieldInput LIKE @0 and formId=@1";
                searchTerm = "%" + Request["searchTitle"] + "%";
            }
            var selectedData = db.Query(selectCommand, searchTerm,Request["formId"]);
            var grid = new WebGrid(source: selectedData);

            @grid.GetHtml(
            tableStyle: "grid",
            headerStyle: "head",
            alternatingRowStyle: "alt",
                columns: grid.Columns(
                grid.Column("fieldInput", "Title"),
                grid.Column("datum", "Date"),
                grid.Column(format: @<form action="@temp" method="post">
                    <input type="hidden" name="ingevuldId" value="@item.ingevuldId"></input>
                    <input type="hidden" name="formId" value="@Request["formId"]"></input>
                    <input type="submit" value="edit" class="fake_button">
                    </form>
                ),
                grid.Column(format: @<a href="~/Remove?formId=@item.formId&&ingevuldId=@item.ingevuldId">Delete</a>)
                
                )
            );
        }
    </div>
</section>
} 
