h1
{
    text-align: center;
}

html {
    margin: 0;
    padding: 0;
}

header, footer, hgroup,
nav, section {
    display: block;
}

body {
    background: #fff url(../Images/bkg.png) repeat-x top left;
    color: #696969;
    font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
    font-size: .75em;
    margin: 0;
    padding: 0;
}

input[type=submit] {
        background-color: #a52f09;
        border: 1px solid #712107;
        color: #fdfcf7;
        cursor: pointer;
    
        /*CSS3 properties*/
        border-radius: 4px; 
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 1px 2px 5px #b4b4b4;
        -webkit-box-shadow: 1px 2px 4px rgba(136,136,136, 0.6);
        -moz-box-shadow: 1px 2px 5px #b4b4b4;
}

#page {
    margin: 0 auto;
    width: 960px;
}

#body, footer {
    border-top: 1px dotted #5d5a53;
    clear: both;
}

#footer {
    padding: 10px;
    text-align: center;
}

div#featuredProduct {
    background-color: #fdfcf7;
    border: 4px solid #e6e3d8;
    height: 760px;
    overflow-x: hidden;
    width: auto;
    
    /*CSS3 properties*/
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 2px 5px #888;
    -webkit-box-shadow: 0px 2px 5px #888;
    -moz-box-shadow: 0px 2px 5px #888;
}

.element
{
    background-color: #e6e3d8;
    margin-bottom: 3px;
}
.element:hover
{
    background-color: #888;
}

p{
    text-align: justify;
}

table{
	width:100%;
    border: 1px solid black;
}
tr{
	border: 1px solid black;
}