﻿@{
    if ( !Roles.IsUserInRole("docent")) 
    {
        Response.Redirect("~/Docentonly");
    }    

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "New Form";

    int id = 0;
    if(Request.QueryString["id"] !=null){
        id = Convert.ToInt16(Request.QueryString["id"]);
    }
    
    string form = "";
    string formname = "";
    if(id>0){
        var db = Database.Open("BeoordelingsFormulieren");
        var result = db.QuerySingle("select * from CustomForm where id=@0",id);
        form = result.json;
        formname = result.formName;
    }
}

<style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #444;
    font-family: sans-serif;
  }

  .fb-main {
    background-color: #fff;
    border-radius: 5px;
    min-height: 600px;
  }

  input[type=text] {
    height: 26px;
    margin-bottom: 3px;
  }

  select {
    margin-bottom: 5px;
    font-size: 40px;
  }
  </style>

<div class='fb-main'></div>
 <script>
      $(function () {
            fb = new Formbuilder({
                selector: '.fb-main',
                bootstrapData: [
                    @Html.Raw(form)
                ]
            });

          $(".fb-save-wrapper").prepend('<input type="hidden" id="id" value="@id" class="rf-size-medium">');
          $(".fb-save-wrapper").prepend('<input type="text" id="formname" value="@formname" class="rf-size-medium">');
          $(".fb-save-wrapper").prepend("Formulier naam: ");

          fb.on('save', function (payload) {
              var naam = $("#formname").val();
              var id = $("#id").val();

              if (!naam.trim() || !payload) {
              alert("Formulier naam en formulier velden zijn verplicht.");
              } else {
                  $.ajax({
                      type: "POST",
                      data: { formid:id , formname: naam , data: payload },
                      url: "../Services/SaveCustomForm",
                      success: function (msg) {
                      }
                  });
              }
          })
      });
</script>