﻿@{
    if ( !Roles.IsUserInRole("docent")) 
    {
        Response.Redirect("~/Docentonly");
    }    

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Custom Forms";

    var db = Database.Open("BeoordelingsFormulieren");
    var result = db.Query("select id,formName from CustomForm");
    var grid = new WebGrid(source: result);
}

@grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
            columns: grid.Columns(
                grid.Column(format: @<a href="~/CustomForm/FillForm?id=@item.id">@item.formName invullen</a>),
                grid.Column(format: @<a href="~/CustomForm/CreateForm?id=@item.id">Bewerken</a>),
                grid.Column(format: @<a href="#" class="delete" data-id="@item.id">Verwijderen</a>)
            )
)

<script>
    $(".delete").on("click", function () {
        var id = $(this).attr("data-id");
        var con = confirm("Weet u zeker dat u dit item wilt verwijderen?");

        if (con == false) {
            return;
        }
        
        $.ajax({
            type: "POST",
            data: { formid: id },
            url: "../Services/DeleteForm",
            success: function (msg) {
                //alert(msg);
            }
        });

        $(this).parent().parent().remove();
    });
</script>