﻿@using System.Web.Script.Serialization;

@{
    if ( !Roles.IsUserInRole("docent")) 
    {
        Response.Redirect("~/Docentonly");
    }    

    int id = 0;
    if(Request.QueryString["id"] !=null){
        id = Convert.ToInt16(Request.QueryString["id"]);
    }
    

    if(id>0){
        var db = Database.Open("BeoordelingsFormulieren");
        var result = db.QuerySingle("select * from CustomForm where id=@0",id);
        var json = "[" + result.json + "]";
        JavaScriptSerializer serializer = new JavaScriptSerializer();
        List<Field> fields = serializer.Deserialize<List<Field>>(json);
        
        dynamic[] values = null;
        string studentnummer = "";
        if(Request.QueryString["fillid"] !=null){
            var vals = db.Query("select * from CustomFormVal where ingevuldid=@0",Request.QueryString["fillid"]);
            values = vals.ToArray();
            if(values !=null && values.Length>0){
                studentnummer = values[0].value;
            }
        }

        if(Request.QueryString["fillid"] !=null){
            var vals = db.Query("select * from CustomFormVal where ingevuldid=@0",Request.QueryString["fillid"]);
            values = vals.ToArray();
        }

        <form method="post" action="../Services/FillForm">
            <input type="hidden" name="id" value="@id">
            <input type="hidden" name="fillid" value="@Request.QueryString["fillid"]">

            <table>
                <tr><th>Studentnummer: </th><td><input type="text" name="studentnummer" value="@studentnummer"></td></tr>

                @for(int i=0; i<fields.Count; i++){
                    var value ="";

                    if(values !=null && values.Length >0){
                       value = values[i+1].value; 
                    }

                    @Html.Raw(fields[i].toHtml(value))
                }
                <tr><td><input type="submit" value="verzenden"></td></tr>
            </table>
        </form>
        
    }else{
        Response.Redirect("~/");
    }
}