﻿@{
           
    var db = Database.Open("BeoordelingsFormulieren");

    var values = db.Query("select * from Field where formId=@0 and ingevuldId=@1",@Request.Form["formId"],@Request.Form["ingevuldId"]).ToList();
}
    <style type="text/css">
	    .tableElement{
		    border-right-style:solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color:#000000;
		    border-top-width:1pt;
		    border-right-width:1pt;
		    border-left-color:#000000;
		    vertical-align:top;
		    border-right-color:#000000;
		    border-left-width:1pt;
		    border-top-style:solid;
		    border-left-style:solid;	
		    border-bottom-width:1pt;
		    width: 283.6pt;
		    border-top-color:#000000;
		    border-bottom-style:solid
	    }
	
	    .topTable {
		    border-right-style: solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color: #000000;
		    border-top-width: 1pt;
		    border-right-width: 1pt;
		    border-left-color: #000000;
		    vertical-align: bottom;
		    border-right-color: #000000;
		    border-left-width: 1pt;
		    border-top-style: solid;
		    border-left-style: solid;
		    border-bottom-width: 1pt;
		    width: 283.6pt;
		    border-top-color: #000000;
		    border-bottom-style: solid
	    }

         .tableHead {
             border-right-style: solid;
             padding: 0pt 5.8pt 0pt 5.8pt;
             border-bottom-color: #000000;
             border-top-width: 1pt;
             border-right-width: 1pt;
             border-left-color: #000000;
             vertical-align: bottom;
             border-right-color: #000000;
             border-left-width: 1pt;
             border-top-style: solid;
             border-left-style: solid;
             border-bottom-width: 1pt;
             width: 4000pt;
             border-top-color: #000000;
             border-bottom-style: solid;
         }
     
	    .title{
		    font-size:12pt;
		    font-family:"Arial";
		    color:#000000;
		    font-weight:bold;
	    }
     
	    .body{
		    background-color:#ffffff;
		    max-width:100%;

	    }
     
	    .image{
		    width: 82.29px; 
		    height: 59.00px; 
		    margin-left: -0.00px; 
		    margin-top: -0.00px; 
		    transform: rotate(0.00rad) translateZ(0px); 
		    -webkit-transform: rotate(0.00rad) translateZ(0px);
	    }
     
        .motivatieElement
        {
             height: 50px;
             width: 50px;
             border:1px solid #fff;
        }

         .motivatieElement2 {
             height: 50px;
             width: 800px;
             border: 1px solid #fff;
         }
     
        .motivatieElement3 {
             height: 150px;
             width: 800px;
             border: 1px solid #fff;
         }
     
        input{
             border:1px solid #fff;
        }
     
	</style>
   </head>
   
   <body class="body">
      <div>
         <p>
            <span class="title">Aanvraag &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<img class="image" alt="NHL_a_03~HS_zwart" src="../Images/image00.jpg">
            <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;stage Informatica</span>
         </p>
      </div>
       <h2>STUDENTGEGEVENS:</h2>
      <table>
         <tbody>
		 <form action="../Update.cshtml" method="post">
             <input type="hidden" name="formId" value="6"></input>
             <input type="hidden" name="ingevuldId" value="@Request.Form["ingevuldId"]"></input>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Naam student</span>
					  </p>
				   </td>
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>E-mail</span>
					  </p>
				   </td>
                    <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Telefoonnummer</span>
					  </p>
				   </td>
				</tr>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
                       <p>
					  <span>1.<input name="studentNr" value="@values[0].fieldInput"></input></span>
                       </p>
				   </td>
                   <td class="topTable" colspan="1" rowspan="1">
                       <p>
					  <span><input name="email1" value="@values[1].fieldInput"></input></span>
                       </p>
				   </td>
                    <td class="topTable" colspan="1" rowspan="1">
                        <p>
					  <span><input name="tel1" value="@values[2].fieldInput"></input></span>
                        </p>
				   </td>
				</tr>
                <tr >
				   <td class="topTable" colspan="1" rowspan="1">
                       <p>
					  <span>2.<input name="naam2" value="@values[3].fieldInput"></input></span>
                       </p>
				   </td>
                   <td class="topTable" colspan="1" rowspan="1">
                       <p>
					  <span><input name="email2" value="@values[4].fieldInput"></input></span>
                       </p>
				   </td>
                    <td class="topTable" colspan="1" rowspan="1">
                        <p>
					  <span><input name="tel2" value="@values[5].fieldInput"></input></span>
                        </p>
				   </td>
				</tr>
			<input value="Submit" type="submit"></input>
					 
		</tbody>
      </table>
	   
       <h2>GEGEVENS OPDRACHTGEVER:</h2>
      <table>
         <tbody>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Naam bedrijf</span>
                  </p>
               </td>
                <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="bedrijf" value="@values[6].fieldInput"></input></span>
                  </p>
               </td>
             </tr>
             <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Naam bedrijfsbegeleider</span>
                  </p>
               </td>
                <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="bedrijfsbegeleider" value="@values[7].fieldInput"></input></span>
                  </p>
               </td>
             </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Postadres</span>
                  </p>
               </td>
                <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="Postadres" value="@values[8].fieldInput"></input></span>
                  </p>
               </td>
             </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Postcode/Plaats</span>
                  </p>
               </td>
                <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="Postcode" value="@values[9].fieldInput"></input></span>
                  </p>
               </td>
               <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="Plaats" value="@values[10].fieldInput"></input></span>
                  </p>
               </td>
             </tr>
             <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Bezoekadres</span>
                  </p>
               </td>
                <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="Bezoekadres" value="@values[11].fieldInput"></input></span>
                  </p>
               </td>
             </tr>
             <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Postcode/Plaats</span>
                  </p>
               </td>
                <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="Postcode2" value="@values[12].fieldInput"></input></span>
                  </p>
               </td>
               <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="Plaats2" value="@values[13].fieldInput"></input></span>
                  </p>
               </td>
             </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Tel. Nummer bedrijf</span>
                  </p>
               </td>
                <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="telbedrijf" value="@values[14].fieldInput"></input></span>
                  </p>
               </td>
             </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>E- mail bedrijfsbegeleider</span>
                  </p>
               </td>
                <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="emailbedrijf" value="@values[15].fieldInput"></input></span>
                  </p>
               </td>
             </tr>
             <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Tel. nummer bedrijfsbegeleider</span>
                  </p>
               </td>
                <td class="tableElement" colspan="2" rowspan="1">
                  <p>
					 <span><input name="telbegeleider" value="@values[16].fieldInput"></input></span>
                  </p>
               </td>
             </tr>
            

               
          </tbody>
        </table>

       <h2>INFORMATIE OPDRACHT</h2>
       <p ><span>Samenvatting opdracht</span></p>
       <span><input name="samenvatting" class="motivatieElement3" value="@values[17].fieldInput"></input></span>
       <p ><span>Motivering voldoende complexiteit</span></p>
       <span><input name="voldoende" class="motivatieElement3" value="@values[18].fieldInput"></input></span>
       <p ><span>Motivering bijdrage aan Informatica-competenties</span></p>
       <span><input name="motivering1" class="motivatieElement3" value="@values[19].fieldInput"></input></span>
       <p ><span>Motivering bijdrage aan onderzoeks-competentie</span></p>
       <span><input name="motivering2" class="motivatieElement3" value="@values[20].fieldInput"></input></span>
       <p ><span>Motivering teamopdracht (indien van toepassing)</span></p>
       <span><input name="motivering3" class="motivatieElement3" value="@values[21].fieldInput"></input></span>
       <br>

       <h2>BEGELEIDING EN BEOORDELING (in te vullen door afstudeercoördinator)</h2>
        <table>
            <tbody>
                <tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Docent begeleider</span>
					  </p>
				   </td>
                   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span><input name="stagecoord1" value="@values[22].fieldInput"></input></span>
					  </p>
				   </td>
                    </tr>
                <tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Docent beoordelaar <br> (tweede begeleider)</span>
					  </p>
				   </td>
                   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span><input name="stagecoord3" value="@values[23].fieldInput"></input></span>
					  </p>
				   </td>
                    </tr>
                <tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Akkoord afstudeercoördinator</span>
					  </p>
				   </td>
                   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>(handtekening)<input name="stagecoord2" value="@values[24].fieldInput"></input></span>
					  </p>
				   </td>
                    </tr>
		</tbody>
      </table>
              <input type="hidden" name="title" value="Aanvraag Afstuderen Informatica"></input>

    </form>
   </body>

</html>