﻿@{
        if ( !Roles.IsUserInRole("docent")) 
        {
            Response.Redirect("~/Docentonly");
        }
 }
	<style type="text/css">
	    .tableElement{
		    border-right-style:solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color:#000000;
		    border-top-width:1pt;
		    border-right-width:1pt;
		    border-left-color:#000000;
		    vertical-align:top;
		    border-right-color:#000000;
		    border-left-width:1pt;
		    border-top-style:solid;
		    border-left-style:solid;	
		    border-bottom-width:1pt;
		    width: 283.6pt;
		    border-top-color:#000000;
		    border-bottom-style:solid
	    }
	
	    .topTable {
		    border-right-style: solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color: #000000;
		    border-top-width: 1pt;
		    border-right-width: 1pt;
		    border-left-color: #000000;
		    vertical-align: bottom;
		    border-right-color: #000000;
		    border-left-width: 1pt;
		    border-top-style: solid;
		    border-left-style: solid;
		    border-bottom-width: 1pt;
		    width: 283.6pt;
		    border-top-color: #000000;
		    border-bottom-style: solid
	    }
     
	    .title{
		    font-size:12pt;
		    font-family:"Arial";
		    color:#000000;
		    font-weight:bold;
	    }
     
	    .body{
		    background-color:#ffffff;
		    max-width:100%;

	    }
     
	    .image{
		    width: 82.29px; 
		    height: 59.00px; 
		    margin-left: -0.00px; 
		    margin-top: -0.00px; 
		    transform: rotate(0.00rad) translateZ(0px); 
		    -webkit-transform: rotate(0.00rad) translateZ(0px);
	    }
     
        .motivatieElement
        {
             height: 90px;
             width: 370px;
             border:1px solid #fff;
        }
     
        input{
             border:1px solid #fff;
        }
     
	</style>
   </head>
   
   <body class="body">
      <div>
         <p>
            <span class="title">Beoordelingsformulier &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<img class="image" alt="NHL_a_03~HS_zwart" src="../Images/image00.jpg">
            <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stage Informatica</span>
         </p>
      </div>

      <table>
         <tbody>
		 <form action="../Add.cshtml" method="post">
             <input type="hidden" name="formId" value="2"></input>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Student:<input name="studentNr"></input></span>
					  </p>
				   </td>
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Collegejaar/periode:<input name="jaar"></input></span>
					  </p>
				   </td>
				</tr>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p><span>Titel:<input name="title"></input></span>
					  </p>
				   </td>
				   <td class="topTable" colspan="1" rowspan="1">
					  <p><span>Bedrijf:<input name="bedrijf"></input></span>
					  </p>
				   </td>
				</tr>
                <tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span >Docentbegeleider(DB):<input name="dBegeleider"></input></span>
					  </p>
				   </td>
                    <td class="topTable" colspan="1" rowspan="1">
					    <p>
						    <span>Bedrijfsbegeleider(s)(BB):<input name="bBegeleider"></input></span>
					    </p>
				    </td>
				</tr>
			<input value="Submit" type="submit"></input>
					 
		</tbody>
      </table>
	  
      <table>
         <tbody>
            <tr >
			
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span class="title">Competentie</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Indicatoren</span>
                  </p>
                  <p>
                     <span>(kan de student ...) </span>
                  </p>
                  <p>
                     <span>(heeft de student...)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Beoordeling</span>
                  </p>
                  <p>
                     <span>(uitstekend /goed / voldoende /matig / slecht / nvt)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="5" rowspan="1">
                  <p>
					 <span class="title">Motivatie</span>
                  </p>
               </td>
			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Onderzoeken (niveau 2)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span>Vraagstelling formuleren </span>
                  </p>
                  <p>
                     <span>Adequate onderzoeksmethode selecteren</span>
                  </p>
                   <p>
                     <span>Systematisch en methodisch te werk gaan</span>
                  </p>
                   <p>
                     <span>Betrouwbaarheid bronnen valideren</span>
                  </p>
                   <p>
                     <span>Conclusies en aanbevelingen formuleren</span>
                  </p>
        
               </td>
			   
			   <!--Input fields-->
                   <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="onderzoekenBb"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="onderzoekenDb"></input></span>
                      </p>
                      <p>
                         <span></span>
                      </p>
                   </td>
			   
			   
			       <!--Input field-->
			   
                   <td class="tableElement" colspan="1" rowspan="1">
					    <input name="onderzoekenMotivatie" class="motivatieElement"></input>
                   </td>
			   
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Analyseren(niveau 2)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span>Probleem identificeren </span>
                  </p>
                  <p>
                     <span>Eisen, wensen en specificaties opstellen</span>
                  </p>
                   <p>
                     <span>Doelstellingen formuleren </span>
                  </p>
                  <p>
                     <span>Kwaliteitseisen opstellen </span>
                  </p>
                  <p>
                     <span>Haalbaarheid &amp; beveiligingsanalyse</span>
                  </p>
               </td>
			   
               <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="analyserenBb"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="analyserenDb"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="analyserenMotivatie" class="motivatieElement"></input></span>
                    </p>
                </td>
			   
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Adviseren (niveau 2)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span>Rapporteren</span>
                  </p>
                   <p>
                     <span>Communiceren</span>
                  </p>
                   <p>
                     <span>Argumenteren</span>
                  </p>
                   <p>
                     <span>Presenteren</span>
                  </p>
               </td>
                
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="adviserenBb"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="adviserenDb"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="adviserenMotivatie" class="motivatieElement"></input></span>
                    </p>
                </td>
			   
            </tr>
			
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Ontwerpen(niveau 2)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span >Ontwerptools gebruiken</span>
                  </p>
                    <p>
                     <span >Ontwerpmethode toepassen</span>
                  </p>
                   <p>
                     <span >Prototype maken </span>
                  </p>
                  <p>
                     <span>Gemaakte keuzes onderbouwen</span>
                  </p>
                   <p>
                     <span>Functioneel specificeren </span>
                  </p>
                  <p>
                     <span>Testplan opstellen</span>
                  </p>
               </td>
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="ontwerpenBb"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="ontwerpenDb"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="ontwerpenMotivatie" class="motivatieElement"></input></span>
                    </p>
                </td>
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Realiseren(niveau 2)</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Opdelen in fases en modules </span></p>
                  <p><span>Kwaliteit en beveiliging bewaken</span></p>
                  <p><span>Verifi&euml;ren en valideren </span></p>
                  <p><span>Resultaat opleveren en verantwoorden</span></p>
               </td>
			   
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="realiserenBb"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="realiserenDb"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="realiserenMotivatie" class="motivatieElement"></input></span>
                    </p>
                </td>
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Beheren(niveau 2)</span></p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Product selecteren, testen, in gebruik nemen</span></p>
                  <p><span>Onderhoudsplan opstellen</span></p>
                  <p><span>Systeem toetsen aan de kwaliteitscriteria</span></p>
               </td>
               <!--Input fields-->
			   
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="beherenBb"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="beherenDb"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="beherenMotivatie" class="motivatieElement"></input></span>
                    </p>
                </td>
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Managen(niveau 2)</span></p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Project opzetten en plannen</span></p> 
                  <p><span>Effectief samenwerken</span></p> 
                  <p><span>Multidisciplinair participeren</span></p>
               </td>
			   
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="managenBb"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="managenDb"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="managenMotivatie" class="motivatieElement"></input></span>
                    </p>
                </td>
            </tr>
			
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Professionaliseren(niveau 2)</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Leerdoelen formuleren en terugkoppelen</span></p> 
                  <p><span>Flexibele opstelling en inlevingsvermogen</span></p> 
                  <p><span>Dilemma&#39;s onderkennen </span></p>
                  <p><span>Constructief samenwerken</span></p>
                  <p><span>Reflecteren</span></p>
                  <p><span>Maatschappelijke verantwoordelijkheid</span></p> 
                  <p><span>Internationaal samenwerken</span></p>
               </td>
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="professionaliserenBb"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="professionaliserenDb"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="professionaliserenMotivatie" class="motivatieElement"></input></span>
                    </p>
                </td>
            </tr>
			
         </tbody>
      </table>
	 
       <!--
      <p class="c43 c58 c72"><span class="c66">Handtekeningen</span></p>
      <a id="t.d3b6663922255727e1e9e36a62cb93bd93c8b16d"></a><a id="t.2"></a>
       -->
      <table>
         <tbody>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Bedrijfsbegeleider(s):<input name="bedrijfsbegeleider"></input></span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Docentbegeleider:<input name="docentbegeleider"></span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Eindcijfer:<input name="eindcijfer"></span></p>
               </td>
            </tr>
            <tr>
                <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Plaats: <input name="plaats"></input></span></p>
               </td>
            </tr>
         </tbody>
      </table>

      <p><span class="title">Toelichting op het formulier</span></p>
      <ul>
         <li ><span>Indicatoren zijn een hulpmiddel (indicator) om vast te stellen of een student een bepaalde competentie bezit. Het is niet per se noodzakelijk dat aan alle indicatoren voldaan is. Er kunnen ook andere indicatoren gebruikt worden. </span></li>
         <li ><span>Het is de bedoeling per competentie een oordeel de geven (dus niet per indicator).</span></li>
         <li ><span>Het is zeer gewenst om daarbij te motiveren waarom de beoordelaar tot dit oordeel gekomen is.</span></li>
         <li ><span>Alle competenties (Onderzoeken, Analyseren, Ontwerpen, Realiseren, Professionaliseren, Adviseren, Beheren en Management) moeten minimaal op niveau 2 getoetst worden (dwz in een "redelijk overzichtelijke situatie", zie ook de stagehandleiding).</span></li>
      </ul>
      <p><span></span></p>
      <p><span class="title">Cijferbepaling: De onderstaande tabel geeft een indicatie hoe het eindcijfer bepaald wordt:</span></p>
      <table>
         <tbody>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span></span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Eindcijfer</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>7 keer voldoende en 1 keer matig</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>6</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>4 keer goed en 4 keer voldoende</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>7</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>8 keer goed</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>8</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>4 keer uitstekend en 4 keer goed</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>9</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>8 keer uitstekend</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>10</span></p>
               </td>
            </tr>
         </tbody>
      </table>
      <p><span></span></p>
      <p ><span >NB: Hierin zijn niet alle combinaties van matig/voldoende/goed/uitstekend volledig uitgewerkt. In alle gevallen beslist de docentbeoordelaar welk eindcijfer wordt toegekend. </span></p>
      <p ><span ></span></p>
      <p ><span >Ruimte voor nadere toelichting op de beoordeling, indien gewenst</span></p>

    </form>
   </body>

</html>