﻿@{
        if ( !Roles.IsUserInRole("docent")) 
        {
            Response.Redirect("~/Docentonly");
        }
 }
	<style type="text/css">
	    .tableElement{
		    border-right-style:solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color:#000000;
		    border-top-width:1pt;
		    border-right-width:1pt;
		    border-left-color:#000000;
		    vertical-align:top;
		    border-right-color:#000000;
		    border-left-width:1pt;
		    border-top-style:solid;
		    border-left-style:solid;	
		    border-bottom-width:1pt;
		    width: 283.6pt;
		    border-top-color:#000000;
		    border-bottom-style:solid
	    }
	
	    .topTable {
		    border-right-style: solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color: #000000;
		    border-top-width: 1pt;
		    border-right-width: 1pt;
		    border-left-color: #000000;
		    vertical-align: bottom;
		    border-right-color: #000000;
		    border-left-width: 1pt;
		    border-top-style: solid;
		    border-left-style: solid;
		    border-bottom-width: 1pt;
		    width: 283.6pt;
		    border-top-color: #000000;
		    border-bottom-style: solid
	    }

         .tableHead {
             border-right-style: solid;
             padding: 0pt 5.8pt 0pt 5.8pt;
             border-bottom-color: #000000;
             border-top-width: 1pt;
             border-right-width: 1pt;
             border-left-color: #000000;
             vertical-align: bottom;
             border-right-color: #000000;
             border-left-width: 1pt;
             border-top-style: solid;
             border-left-style: solid;
             border-bottom-width: 1pt;
             width: 4000pt;
             border-top-color: #000000;
             border-bottom-style: solid;
         }
     
	    .title{
		    font-size:12pt;
		    font-family:"Arial";
		    color:#000000;
		    font-weight:bold;
	    }
     
	    .body{
		    background-color:#ffffff;
		    max-width:100%;

	    }
     
	    .image{
		    width: 82.29px; 
		    height: 59.00px; 
		    margin-left: -0.00px; 
		    margin-top: -0.00px; 
		    transform: rotate(0.00rad) translateZ(0px); 
		    -webkit-transform: rotate(0.00rad) translateZ(0px);
	    }
     
        .motivatieElement
        {
             height: 50px;
             width: 50px;
             border:1px solid #fff;
        }

         .motivatieElement2 {
             height: 50px;
             width: 800px;
             border: 1px solid #fff;
         }
     
        .motivatieElement3 {
             height: 150px;
             width: 800px;
             border: 1px solid #fff;
         }
     
        input{
             border:1px solid #fff;
        }
     
	</style>
   </head>
   
   <body class="body">
      <div>
         <p>
            <span class="title">BeoordelingsFormulier &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<img class="image" alt="NHL_a_03~HS_zwart" src="../Images/image00.jpg">
            <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proces Assesment</span>
         </p>
      </div>

      <table>
         <tbody>
		 <form action="../Add.cshtml" method="post">
             <input type="hidden" name="formId" value="4"></input>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Student/Groep:<br><input name="studentNr"></input></span>
					  </p>
				   </td>
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Collegejaar/periode:<input name="jaar"></input></span>
					  </p>
				   </td>
				</tr>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p><span>Vak/Project:<input name="title"></input></span>
					  </p>
				   </td>
                   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span >Docent/Beoordelaar:<input name="dBegeleider"></input></span>
					  </p>
				   </td>
				</tr>
			<input value="Submit" type="submit"></input>
					 
		</tbody>
      </table>
	  
      <table>
         <tbody>
            <tr >
               <td class="tableHead" colspan="1" rowspan="1">
                  <p>
					 <span></span></span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>-</span>
                  </p>
               </td>	
                <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>-/+</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>+</span>
                  </p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="5" rowspan="1">
                  <p>
					 <span class="title">Doelen stellen</span>
                  </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>De backlog is goed geschreven met behulp van de projectomschrijving.</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="1-" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="1-+" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="1+" class="motivatieElement"></input></span>
                    </p>
               </td>		   
            </tr>
            <tr >
               <td class="tableElement" colspan="5" rowspan="1">
                  <p>
					 <span class="title">Taak verdeling</span>
                  </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Uit de SCRUM-documentatie komt naar voren wie wat heeft gedaan. <br> De kwaliteiten van de groepsleden zijn goed ingezet.</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="2-" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="2-+" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="2+" class="motivatieElement"></input></span>
                    </p>
               </td>		   
            </tr>
            <tr >
               <td class="tableElement" colspan="5" rowspan="1">
                  <p>
					 <span class="title">Time management</span>
                  </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Bij het vormen van sprints is er realistisch gekeken naar de tijd.</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="3-" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="3-+" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="3+" class="motivatieElement"></input></span>
                    </p>
               </td>		   
            </tr>
            <tr >
               <td class="tableElement" colspan="5" rowspan="1">
                  <p>
					 <span class="title">Groepswerk</span>
                  </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Communicatie tussen groepsleden, tutor en opdrachtgever is goed verlopen. <br> Samenwerking in het team verliep goed. <br> Alle groepsleden hebben zich voldoende ingezet.</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="4-" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="4-+" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="4+" class="motivatieElement"></input></span>
                    </p>
               </td>		   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span class="title"></span>
                  </p>
               </td>
                <td class="tableElement" colspan="3" rowspan="1">
                    <p>
                        <span>Cijfer:<br><input name="cijfer1"></input></span>
                    </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="5" rowspan="1">
                  <p>
					 <span class="title">Testrapport</span>
                  </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Alle onderdelen van het project zijn goed getest.</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="5-" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="5-+" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="5+" class="motivatieElement"></input></span>
                    </p>
               </td>		   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span class="title"></span>
                  </p>
               </td>
                <td class="tableElement" colspan="3" rowspan="1">
                    <p>
                        <span>Cijfer:<br><input name="cijfer2"></input></span>
                    </p>
               </td>			   
            </tr>



          </tbody>
        </table>

       <p ><span>Opmerkingen</span></p>
       <span><input name="Opmerkingen" class="motivatieElement3"></input></span>
       
       <br>
        <table>
            <tbody>
                <tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Groepsnummer<br><input name="Groepsnummer"></input></span>
					  </p>
				   </td>
                    </tr>
                <tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Tutor<br><input name="tutor"></input></span>
					  </p>
				   </td>
                    </tr>
                <tr >
                    <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Nam het groepje initiatief voor een (eerste) vergadering of moest je er zelf achteraan?<br><input name="initiatief"></input></span>
					  </p>
				   </td>
				</tr>
                <tr >
                    <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Heeft de groep je een samenwerkingscontract gestuurd?<br><input name="contract"></input></span>
					  </p>
				   </td>
				</tr>
                 <tr >
                    <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Werkt het groepje met SCRUM?<br><input name="SCRUM"></input></span>
					  </p>
				   </td>
				</tr>
                <tr >
                    <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Hoe vaak is het groepje op school aanwezig?<br><input name="vaak"></input></span>
					  </p>
				   </td>
				</tr>
                <tr >
                    <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Wat is je indruk van het groepje met betrekking doelen stellen, taakverdeling, time management en groepswerk? (zie bijlage beoordelingsformulier)<br><input name="indruk"></input></span>
					  </p>
				   </td>
				</tr>
		</tbody>
      </table>


    </form>
   </body>

</html>