       @{
           
               var db = Database.Open("BeoordelingsFormulieren");

               var values = db.Query("select * from Field where formId=@0 and ingevuldId=@1",@Request.Form["formId"],@Request.Form["ingevuldId"]).ToList();
       }
	<style type="text/css">
	    .tableElement{
		    border-right-style:solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color:#000000;
		    border-top-width:1pt;
		    border-right-width:1pt;
		    border-left-color:#000000;
		    vertical-align:top;
		    border-right-color:#000000;
		    border-left-width:1pt;
		    border-top-style:solid;
		    border-left-style:solid;	
		    border-bottom-width:1pt;
		    width: 283.6pt;
		    border-top-color:#000000;
		    border-bottom-style:solid
	    }
	
	    .topTable {
		    border-right-style: solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color: #000000;
		    border-top-width: 1pt;
		    border-right-width: 1pt;
		    border-left-color: #000000;
		    vertical-align: bottom;
		    border-right-color: #000000;
		    border-left-width: 1pt;
		    border-top-style: solid;
		    border-left-style: solid;
		    border-bottom-width: 1pt;
		    width: 283.6pt;
		    border-top-color: #000000;
		    border-bottom-style: solid
	    }
     
	    .title{
		    font-size:12pt;
		    font-family:"Arial";
		    color:#000000;
		    font-weight:bold;
	    }
     
	    .body{
		    background-color:#ffffff;
		    max-width:100%;

	    }
     
	    .image{
		    width: 82.29px; 
		    height: 59.00px; 
		    margin-left: -0.00px; 
		    margin-top: -0.00px; 
		    transform: rotate(0.00rad) translateZ(0px); 
		    -webkit-transform: rotate(0.00rad) translateZ(0px);
	    }
     
        .motivatieElement
        {
             height: 90px;
             width: 370px;
             border:1px solid #fff;
        }
     
        input{
             border:1px solid #fff;
        }
     
	</style>
   
      <div>
         <p>
            <span class="title">Eindbeoordelingsformulier &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<img class="image" alt="NHL_a_03~HS_zwart" src="../Images/image00.jpg">
            <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Afstuderen Informatica</span>
         </p>
      </div>

      <table>
         <tbody>
		 <form action="../Update.cshtml" method="post">
             <input type="hidden" name="formId" value="1"></input>
             <input type="hidden" name="ingevuldId" value="@Request.Form["ingevuldId"]"></input>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Student: <input name="studentNr" value="@values[0].fieldInput"></input></span>
					  </p>
				   </td>
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Collegejaar/periode:<input name="jaar" value="@values[1].fieldInput"></input></span>
					  </p>
				   </td>
				</tr>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p><span>Titel:<input name="title" value="@values[2].fieldInput"></input></span>
					  </p>
				   </td>
				   <td class="topTable" colspan="1" rowspan="1">
					  <p><span>Bedrijf:<input name="bedrijf" value="@values[3].fieldInput"></input></span>
					  </p>
				   </td>
				</tr>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Bedrijfsbegeleider(s)(BB):<input name="bBegeleider" value="@values[4].fieldInput"></input></span>
					  </p>
				   </td>
                    <td class="topTable" colspan="1" rowspan="1">
					  <p><span></span>
					  </p>
				   </td>
				</tr>
				<tr>
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span >Docentbegeleider(DB):<input name="dBegeleider" value="@values[5].fieldInput"></input></span>
					  </p>
				   </td>
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span >Docentbeoordelaar(EB):<input name="dBeoordelaar" value="@values[6].fieldInput"></input></span>
					  </p>
				   </td>
				</tr>
			<input value="Submit" type="submit"></input>
					 
		</tbody>
      </table>
	  
      <table>
         <tbody>
            <tr >
			
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span class="title">Competentie</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Indicatoren</span>
                  </p>
                  <p>
                     <span>(kan de student ...) </span>
                  </p>
                  <p>
                     <span>(heeft de student...)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Beoordeling</span>
                  </p>
                  <p>
                     <span>(uitstekend /goed / voldoende /matig / slecht / nvt)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="5" rowspan="1">
                  <p>
					 <span class="title">Motivatie</span>
                  </p>
               </td>
			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Onderzoeken (niveau 3)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span>Vraagstelling formuleren </span>
                  </p>
                  <p>
                     <span>Adequate onderzoeksmethode selecteren Systematisch en methodisch te werk gaan Betrouwbaarheid bronnen valideren Conclusies en aanbevelingen formuleren</span>
                  </p>
               </td>
			   
			   <!--Input fields-->
                   <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="onderzoekenBb" value="@values[7].fieldInput"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="onderzoekenDb" value="@values[8].fieldInput"></input></span>
                      </p>
                      <p>
                         <span></span>
                      </p>
                      <p>
                         <span>EB: <input name="onderzoekenEb" value="@values[9].fieldInput"></input></span>
                      </p>
                   </td>
			   
			   
			       <!--Input field-->
			   
                   <td class="tableElement" colspan="1" rowspan="1">
					    <input name="onderzoekenMotivatie" class="motivatieElement" value="@values[10].fieldInput"></input>
                   </td>
			   
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Analyseren(niveau 3)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span>Probleem identificeren </span>
                  </p>
                  <p>
                     <span>Eisen, wensen en specificaties opstellen Doelstellingen formuleren </span>
                  </p>
                  <p>
                     <span>Kwaliteitseisen opstellen </span>
                  </p>
                  <p>
                     <span>Haalbaarheid &amp; beveiligingsanalyse</span>
                  </p>
               </td>
			   
               <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="analyserenBb" value="@values[11].fieldInput"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="analyserenDb" value="@values[12].fieldInput"></input></span>
                      </p>
                      <p>
                         <span></span>
                      </p>
                      <p>
                         <span>EB: <input name="analyserenEb" value="@values[13].fieldInput"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="analyserenMotivatie" class="motivatieElement" value="@values[14].fieldInput"></input></span>
                    </p>
                </td>
			   
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Adviseren (niveau 2)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span>Rapporteren Communiceren Argumenteren Presenteren</span>
                  </p>
               </td>
                
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="adviserenBb" value="@values[15].fieldInput"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="adviserenDb" value="@values[16].fieldInput"></input></span>
                      </p>
                      <p>
                         <span></span>
                      </p>
                      <p>
                         <span>EB: <input name="adviserenEb" value="@values[17].fieldInput"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="adviserenMotivatie" class="motivatieElement" value="@values[18].fieldInput"></input></span>
                    </p>
                </td>
			   
            </tr>
			
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span class="title">Ontwerpen(niveau 3)</span>
                  </p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
                     <span >Ontwerptools gebruiken Ontwerpmethode toepassen Prototype maken </span>
                  </p>
                  <p>
                     <span>Gemaakte keuzes onderbouwen Functioneel specificeren </span>
                  </p>
                  <p>
                     <span>Testplan opstellen</span>
                  </p>
               </td>
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="ontwerpenBb" value="@values[19].fieldInput"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="ontwerpenDb" value="@values[20].fieldInput"></input></span>
                      </p>
                      <p>
                         <span></span>
                      </p>
                      <p>
                         <span>EB: <input name="ontwerpenEb" value="@values[21].fieldInput"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="ontwerpenMotivatie" class="motivatieElement" value="@values[22].fieldInput"></input></span>
                    </p>
                </td>
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Realiseren(niveau 3)</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Opdelen in fases en modules </span></p>
                  <p><span>Kwaliteit en beveiliging bewaken Verifi&euml;ren en valideren </span></p>
                  <p><span>Resultaat opleveren en verantwoorden</span></p>
               </td>
			   
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="realiserenBb" value="@values[23].fieldInput"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="realiserenDb" value="@values[24].fieldInput"></input></span>
                      </p>
                      <p>
                         <span></span>
                      </p>
                      <p>
                         <span>EB: <input name="realiserenEb" value="@values[25].fieldInput"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="realiserenMotivatie" class="motivatieElement" value="@values[26].fieldInput"></input></span>
                    </p>
                </td>
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Beheren(niveau 2)</span></p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Product selecteren, testen, in gebruik nemen</span></p>
                  <p><span>Onderhoudsplan opstellen</span></p>
                  <p><span>Systeem toetsen aan de kwaliteitscriteria</span></p>
               </td>
               <!--Input fields-->
			   
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="beherenBb" value="@values[27].fieldInput"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="beherenDb" value="@values[28].fieldInput"></input></span>
                      </p>
                      <p>
                         <span></span>
                      </p>
                      <p>
                         <span>EB: <input name="beherenEb" value="@values[29].fieldInput"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="beherenMotivatie" class="motivatieElement" value="@values[30].fieldInput"></input></span>
                    </p>
                </td>
            </tr>
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Managen(niveau 2)</span></p>
               </td>
			   
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Project opzetten en plannen Effectief samenwerken Multidisciplinair participeren</span></p>
               </td>
			   
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="managenBb" value="@values[31].fieldInput"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="managenDb" value="@values[32].fieldInput"></input></span>
                      </p>
                      <p>
                         <span></span>
                      </p>
                      <p>
                         <span>EB: <input name="managenEb" value="@values[33].fieldInput"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="managenMotivatie" class="motivatieElement" value="@values[34].fieldInput"></input></span>
                    </p>
                </td>
            </tr>
			
            <tr>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Professionaliseren(niveau 3)</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Leerdoelen formuleren en terugkoppelen Flexibele opstelling en inlevingsvermogen Dilemma&#39;s onderkennen </span></p>
                  <p><span>Constructief samenwerken </span></p>
                  <p><span>Reflecteren</span></p>
                  <p><span>Maatschappelijke verantwoordelijkheid Internationaal samenwerken</span></p>
               </td>
                <!--Input fields-->
			   
               <td class="tableElement" colspan="1" rowspan="1">
                      <p>
                         <span>BB: <input name="professionaliserenBb" value="@values[35].fieldInput"></input></span>
                      </p>
                      <p>
                         <span>DB: <input name="professionaliserenDb" value="@values[36].fieldInput"></input></span>
                      </p>
                      <p>
                         <span></span>
                      </p>
                      <p>
                         <span>EB: <input name="professionaliserenEb" value="@values[37].fieldInput"></input></span>
                      </p>
                </td>
			   
			   
               <!--Input field-->
			   
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
					<span><input name="professionaliserenMotivatie" class="motivatieElement" value="@values[38].fieldInput"></input></span>
                    </p>
                </td>
            </tr>
			
         </tbody>
      </table>
	 
       <!--
      <p class="c43 c58 c72"><span class="c66">Handtekeningen</span></p>
      <a id="t.d3b6663922255727e1e9e36a62cb93bd93c8b16d"></a><a id="t.2"></a>
       -->
      <table>
         <tbody>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Bedrijfsbegeleider(s):<input name="bedrijfsbegeleider"value="@values[39].fieldInput"></input></span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Docentbegeleider:<input name="docentbegeleider" value="@values[40].fieldInput"></span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Eindcijfer:<input name="eindcijfer" value="@values[41].fieldInput"></span></p>
               </td>
            </tr>
            <tr>
                <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>Plaats: <input name="plaats" value="@values[42].fieldInput"></input></span></p>
               </td>
            </tr>
         </tbody>
      </table>

      <p><span class="title">Toelichting op het formulier</span></p>
      <ul>
         <li ><span>Op dit formulier worden bij alle competenties de oordelen van de bedrijfsbeoordelaar, docentbegeleider en eventuele externe beoordelaar vermeld en samengevat. </span></li>
         <li ><span>De docentbeoordelaar voegt daar zijn/haar oordeel aan toe.</span></li>
         <li ><span>Dit leidt tot het eindcijfer volgens de indicatie hieronder.</span></li>
         <li ><span>Indicatoren zijn een hulpmiddel (indicator) om vast te stellen of een student een bepaalde competentie bezit. Het is niet per se noodzakelijk dat aan alle indicatoren voldaan is. Er kunnen ook andere indicatoren gebruikt worden.</span></li>
         <li ><span>Het is de bedoeling per competentie een oordeel de geven (dus niet per indicator).</span></a>
         <li ><span>Het is zeer gewenst om daarbij te motiveren waarom de beoordelaar tot dit oordeel gekomen is.</span></li>
         <li ><span>De competenties Onderzoeken, Analyseren, Ontwerpen, Realiseren en Professionaliseren moeten op niveau 3 getoetst worden (dwz in een complexe situatie, zie ook de afstudeerhandleiding).</span></li>
         <li ><span>De overige competenties, Adviseren, Beheren en Management, moeten op niveau 2 getoetst worden (dwz in een &quot;redelijk overzichtelijke situatie&quot;, zie ook de afstudeerhandleiding).</span></li>
      </ul>
      <p><span></span></p>
      <p><span class="title">Cijferbepaling: De onderstaande tabel geeft een indicatie hoe het eindcijfer bepaald wordt:</span></p>
      <table>
         <tbody>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span></span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span class="title">Eindcijfer</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>7 keer voldoende en 1 keer matig</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>6</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>4 keer goed en 4 keer voldoende</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>7</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>8 keer goed</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>8</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>4 keer uitstekend en 4 keer goed</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>9</span></p>
               </td>
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>8 keer uitstekend</span></p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                  <p><span>10</span></p>
               </td>
            </tr>
         </tbody>
      </table>
      <p><span></span></p>
      <p ><span >NB: Hierin zijn niet alle combinaties van matig/voldoende/goed/uitstekend volledig uitgewerkt. In alle gevallen beslist de docentbeoordelaar welk eindcijfer wordt toegekend. </span></p>
      <p ><span ></span></p>
      <p ><span >Ruimte voor nadere toelichting op de beoordeling, indien gewenst</span></p>

    </form>