﻿@{
        if ( !Roles.IsUserInRole("docent")) 
        {
            Response.Redirect("~/Docentonly");
        }
 }
	<style type="text/css">
	    .tableElement{
		    border-right-style:solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color:#000000;
		    border-top-width:1pt;
		    border-right-width:1pt;
		    border-left-color:#000000;
		    vertical-align:top;
		    border-right-color:#000000;
		    border-left-width:1pt;
		    border-top-style:solid;
		    border-left-style:solid;	
		    border-bottom-width:1pt;
		    width: 283.6pt;
		    border-top-color:#000000;
		    border-bottom-style:solid
	    }
	
	    .topTable {
		    border-right-style: solid;
		    padding: 0pt 5.8pt 0pt 5.8pt;
		    border-bottom-color: #000000;
		    border-top-width: 1pt;
		    border-right-width: 1pt;
		    border-left-color: #000000;
		    vertical-align: bottom;
		    border-right-color: #000000;
		    border-left-width: 1pt;
		    border-top-style: solid;
		    border-left-style: solid;
		    border-bottom-width: 1pt;
		    width: 283.6pt;
		    border-top-color: #000000;
		    border-bottom-style: solid
	    }

         .tableHead {
             border-right-style: solid;
             padding: 0pt 5.8pt 0pt 5.8pt;
             border-bottom-color: #000000;
             border-top-width: 1pt;
             border-right-width: 1pt;
             border-left-color: #000000;
             vertical-align: bottom;
             border-right-color: #000000;
             border-left-width: 1pt;
             border-top-style: solid;
             border-left-style: solid;
             border-bottom-width: 1pt;
             width: 4000pt;
             border-top-color: #000000;
             border-bottom-style: solid;
         }
     
	    .title{
		    font-size:12pt;
		    font-family:"Arial";
		    color:#000000;
		    font-weight:bold;
	    }
     
	    .body{
		    background-color:#ffffff;
		    max-width:100%;

	    }
     
	    .image{
		    width: 82.29px; 
		    height: 59.00px; 
		    margin-left: -0.00px; 
		    margin-top: -0.00px; 
		    transform: rotate(0.00rad) translateZ(0px); 
		    -webkit-transform: rotate(0.00rad) translateZ(0px);
	    }
     
        .motivatieElement
        {
             height: 50px;
             width: 50px;
             border:1px solid #fff;
        }

         .motivatieElement2 {
             height: 50px;
             width: 800px;
             border: 1px solid #fff;
         }
     
        .motivatieElement3 {
             height: 150px;
             width: 800px;
             border: 1px solid #fff;
         }
     
        input{
             border:1px solid #fff;
        }
     
	</style>
   </head>
   
   <body class="body">
      <div>
         <p>
            <span class="title">Verslagbeoordeling &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<img class="image" alt="NHL_a_03~HS_zwart" src="../Images/image00.jpg">
            <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P4P (docent Rapporteren voor techniek)</span>
         </p>
      </div>

      <table>
         <tbody>
		 <form action="../Add.cshtml" method="post">
             <input type="hidden" name="formId" value="3"></input>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Student/Groep:<br><input name="studentNr"></input></span>
					  </p>
				   </td>
				   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span>Collegejaar/periode:<input name="jaar"></input></span>
					  </p>
				   </td>
				</tr>
				<tr >
				   <td class="topTable" colspan="1" rowspan="1">
					  <p><span>Vak/Project:<input name="title"></input></span>
					  </p>
				   </td>
                   <td class="topTable" colspan="1" rowspan="1">
					  <p>
						 <span >Docent/Beoordelaar:<input name="dBegeleider"></input></span>
					  </p>
				   </td>
				</tr>
			<input value="Submit" type="submit"></input>
					 
		</tbody>
      </table>
	  
      <table>
         <tbody>
            <tr >
               <td class="tableHead" colspan="1" rowspan="1">
                  <p>
					 <span class="title">Beoordelingspunten</span>  <span> (achter de trefwoorden kan met een + of een – een indicatiegegeven worden)</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Slecht</span>
                  </p>
               </td>	
                <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Onvoldoende</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Voldoende</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Goed</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span>Uitmuntend</span>
                  </p>
               </td>		   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span class="title">1. Compleetheid:</span>  <span> zijn alle vereiste onderdelen aanwezig met voldoende detail en diepgang 
Samenvatting__, Inhoudsopgave__, Inleiding__, Conclusie__, Bijlagen__, Bronvermelding__,
Gebruik van pagina en fignummering__, 
</span>
                  </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="1Slecht" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="1Onvoldoende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="1Voloende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="1Goed" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="1Uitmunted" class="motivatieElement"></input></span>
                    </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span class="title">2. Logische argumentatie & inhoudelijke correctheid:</span> <br> <span>Keuzes zijn goed beargumenteerd <br> De tekst is (technisch-)inhoudelijk correct</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="2Slecht" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="2Onvoldoende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="2Voloende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="2Goed" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="2Uitmunted" class="motivatieElement"></input></span>
                    </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span class="title">3. Ordening hoofd- en bijzaken:</span><span> ondersteund door ...
Layout__, structuur duidelijk uit inhoudsopgave__, concrete titels paragrafen__,  bijlagen__, alinea’s__</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="3Slecht" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="3Onvoldoende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="3Voloende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="3Goed" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="3Uitmunted" class="motivatieElement"></input></span>
                    </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span class="title">4. Verslag verkoopt zichzelf:</span><span> Aantrekkelijk vormgegeven__, verzorgd__, gebruik lettertypen__, gebruik figuren__</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="4Slecht" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="4Onvoldoende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="4Voloende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="4Goed" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="4Uitmunted" class="motivatieElement"></input></span>
                    </p>
               </td>			   
            </tr>
            <tr >
               <td class="tableElement" colspan="1" rowspan="1">
                  <p>
					 <span class="title">5. Publieksgerichtheid:</span><span> juiste kennis en interesse niveau ingeschat</span>
                  </p>
               </td>
                <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="5Slecht" class="motivatieElement"></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="5Onvoldoende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="5Voloende" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="5Goed" class="motivatieElement"></input></span>
                    </p>
               </td>
               <td class="tableElement" colspan="1" rowspan="1">
                    <p>
                        <span><input name="5Uitmunted" class="motivatieElement"></input></span>
                    </p>
               </td>			   
            </tr>
          </tbody>
        </table>

      <p ><span><h3>Samenvatting beoordeling</h3></span></p>
       <span><input name="samenvatting" class="motivatieElement2"></input></span>

       <p ><span>Toelichting/aandachtspunten</span></p>
       <span><input name="toelichting" class="motivatieElement3"></input></span>
    </form>
   </body>

</html>